<%= form_for @proprety do |f| %>

  <h3>Titre</h3>
  <div class="edit-title-container">
    <%= f.text_field :name %>
  </div>

  <h3>Description</h3>
  <div class="edit-description-container">
    <%= f.text_area :description %>
  </div>

  <h3>Images</h3>
  <div class="edit-images-container">
    <div class="edit-big-image">
      <%= f.file_field :image %>
      <% if @proprety.image.present? %>
        <%= image_tag(@proprety.image_url(:thumb).to_s) %>
      <% else %>
        <%= image_url('icons/default-picture.svg') %>
      <% end %>
    </div>
    <div class="edit-small-images">
      <div class="edit-small-image">
        <%= f.file_field :image2 %>
        <% if @proprety.image2.present? %>
          <%= image_tag(@proprety.image2_url(:thumb).to_s) %>
        <% else %>
          <%= image_url('icons/default-picture.svg') %>
        <% end %>
      </div>
      <div class="edit-small-image">
        <%= f.file_field :image3 %>
        <% if @proprety.image3.present? %>
          <%= image_tag(@proprety.image3_url(:thumb).to_s) %>
        <% else %>
          <%= image_url('icons/default-picture.svg') %>
        <% end %>
      </div>
      <div class="edit-small-image">
        <%= f.file_field :image4 %>
        <% if @proprety.image4.present? %>
          <%= image_tag(@proprety.image4_url(:thumb).to_s) %>
        <% else %>
          <%= image_url('icons/default-picture.svg') %>
        <% end %>
      </div>
      <div class="edit-small-image">
        <%= f.file_field :image5 %>
        <% if @proprety.image5.present? %>
          <%= image_tag(@proprety.image5_url(:thumb).to_s) %>
        <% else %>
          <%= image_url('icons/default-picture.svg') %>
        <% end %>
      </div>
      <div class="edit-small-image">
        <%= f.file_field :image6 %>
        <% if @proprety.image6.present? %>
          <%= image_tag(@proprety.image6_url(:thumb).to_s) %>
        <% else %>
          <%= image_url('icons/default-picture.svg') %>
        <% end %>
      </div>
      <div class="edit-small-image">
        <%= f.file_field :image7 %>
        <% if @proprety.image7.present? %>
          <%= image_tag(@proprety.image7_url(:thumb).to_s) %>
        <% else %>
          <%= image_url('icons/default-picture.svg') %>
        <% end %>
      </div>
    </div>
  </div>

  <%= f.label :people %>
  <%= f.number_field :people %>

  <%= f.label :bedrooms %>
  <%= f.number_field :bedrooms %>

  <%= f.label :bathrooms %>
  <%= f.number_field :bathrooms %>

  <%= f.label :wifi %>
  <%= f.check_box :wifi %>

  <%= f.label :parking %>
  <%= f.check_box :parking %>

  <%= f.label :lift %>
  <%= f.check_box :lift %>

  <%= f.label :kitchen %>
  <%= f.number_field :kitchen %>

  <%= f.label :other %>
  <%= f.text_field :other %>

  <%= f.label :price %>
  <%= f.number_field :price %>

  <%= f.label :street %>
  <%= f.text_field :street %>

  <%= f.label :number %>
  <%= f.number_field :number %>

  <%= f.label :zipcode %>
  <%= f.number_field :zipcode %>

  <%= f.label :city %>
  <%= f.text_field :city %>

  <%= f.label :type_of_street %>
  <%= f.text_field :type_of_street %>

  <%= f.submit 'Enregistrer' %>

<% end %>
