<%= render 'navbar' %>

<h1>Louez votre prochain lieu de vacances</h1>

<div class="presentation">
  <% @proprety.each do |proprety| %>

  <div>
    <h3><%= proprety.name %></h3>
    <%= image_tag(proprety.image2_url.to_s) %>
    <small class="location"><%= proprety.city %></small>
    <p><%= proprety.description %></p>
    <%= link_to 'Découvrir', proprety_path(proprety) %>
  </div>

  <% end %>
</div>
