<h1><%= @proprety.name %></h1>
<p><%= @proprety.description %></p>

<p><%= @proprety.people %> personnes peuvent occuper ce logement</p>
<p><%= @proprety.bedrooms %> chambres</p>
<p><%= @proprety.bathrooms %> salles de bain</p>
